doctype html
html(lang="en")
    head
        title Flash Cards
    body
        header
            h1 Flash Cards
        section#content
            h2= prompt
            p   
                i Hint: #{hint}
        p An app to help you study.