extends layout.pug

block content
    h2 Welcome, Student!
    form(action="/hello", method="post")
        label Please enter your name
            input(type="tex", name="username")
        button(type="submit") Submit