doctype html
html(lang="en")
    head
        title Landing Page
    body
        h1 The future home of something cheesy.
        p Cheese triangles croque monsieur pepper jack. Bocconcini cheesy grin jarlsberg gouda cut the cheese cottage cheese parmesan bavarian bergkase. Swiss everyone loves cheeseburger cheesy feet cream cheese cheese strings caerphilly cheese and biscuits. Monterey jack fromage cheese on toast the big cheese cream cheese queso fromage frais taleggio. Bocconcini cheesy grin mascarpone.